<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.epn.jairo.proyecto_practica_6">

    <application
        android:name=".ProyectoSeis"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".IngresoDeCasos"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ConsultaDeCasos"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ResultadoDeBusqueda"
            android:parentActivityName=".ConsultaDeCasos" />
        <activity android:name=".VerTodos"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".ResultadoList"
            android:parentActivityName=".VerTodos"></activity>
    </application>

</manifest>